<div style="max-width: 614px; margin: 0 auto;">
  <%= link_to user_path(current_user.nickname), class: "ui horizontal list"  do %> 
    <div class="item">
      <%= image_tag(current_user.avatar_url(:mini), class: "ui circular image") %>
    </div>
    <div class="item">
      <%= current_user.nickname %>
    </div>
  <% end %>

  <hr>
  <div id="posts">
    <%= render partial: 'feed/post', :collection => @posts %>
  </div>

  <div id="infinite-scrolling">
    <%= will_paginate(@posts) %>
  </div>
</div>