<div class="ui grid">
  <div class="four wide column">
    <% if resource.avatar? %>
      <%= image_tag(resource.avatar_url(:thumb), class: "ui circular image") %>
    <% else %>
      <%= image_tag('user.jpg', size: "150x150", class: "ui circular image") %>
    <% end %>
  </div>
  <div class="twelve wide column">
    <h2><%= @user.nickname %></h2>
    <h2><%= @user.name %></h2>
    <h2><%= @user.email %></h2>
  </div>
</div>
<br><br>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="ui form">
    <div class="field">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" } %>
    </div>

    <div class="field">
      <%= f.input :nickname,
                  required: true,
                  input_html: { autocomplete: "username" } %>
    </div>

    <div class="field">
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="field">
      <%= f.input :bio %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <div class="field">     
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="field">
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
    </div>
    
    <div class="field">
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <label class="ui green button">
      Change avatar
      <i class="ui upload icon"></i> 
      <span style="display:none;">
        <%= f.input :avatar, required: true, as: :file %>
      </span>
    </label>
    
    <br><br>

    <%= f.button :submit, "Update", class: "ui primary button" %>
  </div>
<% end %>

<div class="ui message">
  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>