<h1>Search results</h1>
<div class="ui middle aligned divided list">
  <% @users.each do |user| %>
    <div class="item">
      <div class="right floated content">
        <% unless current_user == user %>
          <% if current_user.following?(user) %>
            <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
                                                                   html: { method: :delete },
                                                                   remote: true) do |f| %>
              <%= f.submit "Unfollow", class: "ui button" %>
            <% end %>
          <% else %>
            <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
              <div><%= hidden_field_tag :followed_id, user.id %></div>
              <%= f.submit "Follow", class: "ui primary button" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= image_tag(user.avatar_url(:mini), class: "ui avatar image") %>
      <div class="content">
        <%= link_to user.nickname, user_path(user.nickname), class: "header" %> 
        <div class="description">
          <%= user.name %>,
          <%= pluralize(user.passive_relationships.count, 'follower') %>
        </div>
      </div>
    </div>
  <% end %>
</div>
