<div class="ui center aligned segment header">
  <h2>Create new post</h2>
</div>


<%= simple_form_for @post, html: { multipart: true } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="ui form">
    <div class="field">
    <%= f.input :content, autofocus: true, placeholder: "Post text" %>
    </div>

    <label class="ui green button">
      Upload a photo
      <i class="ui upload icon"></i> 
      <span style="display:none;">
        <%= f.input :post_image, required: true, as: :file  %>
      </span>
    </label>

    <br><br>

    <%= f.button :submit, class: "ui primary button" %>
  </div>
<% end %>
