<% if params[:action] != 'new' %> 
  <div class="ui grid">
    <div class="two column row">
      <div class="column">
        <%= image_tag(@post.post_image_url(:profile), class: "ui image") %>
      </div>
      <div class="column">
        <%= @post.content %>
      </div>
    </div> 
  </div>

  <br><hr><br>

<% end %>

<%= simple_form_for @post, html: { multipart: true } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="ui form">
    <div class="field">
      <%= f.input :content, autofocus: true, placeholder: "Post text", label: false %>
    </div>

    <label class="ui green button">
      Upload a photo
      <i class="ui upload icon"></i> 
      <span style="display:none;">
        <%= f.input :post_image, required: true, as: :file  %>
      </span>
    </label>

    <br><br>

    <%= f.button :submit, class: "ui primary button" %>
  </div>
<% end %>
