<div class="ui grid">
  <div class="two column row">
    <div class="column">
      <%= image_tag(@post.post_image_url(:post), class: "ui image") %>
    </div>

    <div class="column">
      <div class="ui horizontal list">
        <div class="item">
          <%= image_tag(@post.user.avatar_url(:mini), class: "ui circular image") %>
        </div>
        <div class="item">
          <%= link_to @post.user.name, @post.user %>
        </div>
        <div class="item">
          <% if @post.user == current_user %>
            <%= link_to 'Edit post', edit_post_path(@post), class: "ui basic button" %>
          <% else %> 
            <button class="ui basic button">Following</button> <%# Follow/Following%>
          <% end %>
        </div>
        <div class="item">
          <div class="ui dropdown">
            <i class="fas fa-ellipsis-h"></i>
            <div class="menu">
              <div class="item">
                Report Inappropriate
              </div>
              <div class="item">
                Copy Link
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <%= @post.content %>
      <br>
      <%= time_ago_in_words(@post.created_at) %> ago.
    </div>
  </div>
</div>
