<!DOCTYPE html>
<html>
  <head>
    <% if content_for(:title) %>
      <title><%= yield(:title) %></title>
    <% else %>
      <title>Ninegram</title>
    <% end %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/57b42926de.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <% if flash[:notice] %>
    <div class="ui success message">
      <i class="close icon"></i>
      <div class="header">
        <%= notice %>
      </div>
    </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        <%= alert %>
      </div>
    </div>
  <% end %>

  <body>
    <%= render "/layouts/navbar" %>
    
    <div id="main" class="ui container">
      <%= yield %>
    </div>

    <%= render "/layouts/footer" %>
  </body>
</html>
